@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

/*
*
* GENERAL
*
*/

:root {
    --mainColor: #222;
    /* --secondaryColor: #eee; */
    --secondaryColor: #e7e8ec;
    /* --secondaryColor: #e9ecf6; */
    --accentColor1: #e94444;
    --accentColor2: #bfb647;
    /* --accentColor2: #f9ed4c; */
    --accentColor3: #373cc6;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans";
    color: var(--mainColor);
}

*::selection {
    background: var(--accentColor3);
    color: white;
}

nav a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

a,
.home__nav-links-active {
    position: relative;
}

a::before,
.home__nav-links-active::before {
    content: "";
    display: block;
    width: 110%;
    height: 50%;
    position: absolute;
    left: -5%;
    top: calc(50% - 25%);
    z-index: -1;
    opacity: 0;
}

a:hover::before,
.home__nav-links-active::before {
    opacity: 0.5;
}

a:nth-child(3n+1)::before,
.home__nav-links-active::before {
    background: var(--accentColor1);
}

a:nth-child(3n+2)::before {
    background: var(--accentColor2);
}

a:nth-child(3n+3)::before {
    background: var(--accentColor3);
}

/*
*
* HOME NAV
*
*/

.home__nav {
    display: flex;
    padding: 20px 4rem;
    justify-content: space-between;
    align-items: center;
}

.home__nav-links {
    display: flex;
    align-items: center;
}

.home__nav-links li{
    display: inline-block;
    margin-left: 4rem;
}

.home__nav-search {
    display: flex;
    flex-grow: 2;
    margin-left: 4rem;
}

.home__nav-search input {
    border: none;
    background: var(--secondaryColor);
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}

.home__header {
    background: var(--secondaryColor);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20vw;
}

.home__header h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.home__header p {
    text-align: center;
}

/*
*
* NAVEGACION DE ESPECIALIDADES
*
*/

.home__main {

}

.home__main .home__nav-links {
    padding: 4rem;
    justify-content: center;
}

.home__main .home__nav-links li:first-child {
    margin-left:  0;
}

.home__path-card-list{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.home__path-card-list > li  {
    display: flex;
}

.home__path-card-list ul {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.home__path-card-list div {
    min-width: 100%;
    width: 300px;
    text-align: center;
    background: var(--secondaryColor);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.home__path-card-list header {
    padding: 30px;
    border-bottom: 2px solid white;
}

.home__path-card-list .logo {
    font-style: normal;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.home__path-card-list > li div::before,
.home__path-card-list > li div::after {
    content: "";
    position: absolute;
    display: block;
}

/* triangulo rojo */
.home__path-card-list > li:nth-child(1) div::before {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid var(--accentColor1);
    left: -20px;
    top: 70px;
    transform: rotate(45deg);
}

/* cuadrado rojo */
.home__path-card-list > li:nth-child(1) div::after {
    width: 40px;
    height: 40px;
    background: var(--accentColor1);
    right: -20px;
    bottom: 20px;
    transform: rotate(-24deg);
}

.home__path-card-list > li:nth-child(1) .logo {
    color:var(--accentColor1);
}

.home__path-card-list > li:nth-child(2) div {
    /* background: var(--accentColor2) */
}

.home__path-card-list > li:nth-child(2) .logo {
    color:var(--accentColor2);
}

/* triangulo amarillo */
.home__path-card-list > li:nth-child(2) div::before {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid var(--accentColor2);
    right: -10px;
    top: 30px;
    transform: rotate(-23deg);
}

/* circulo amarillo */
.home__path-card-list > li:nth-child(2) div::after {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--accentColor2);
    left: -10px;
    top: 120px;
    transform: rotate(-45deg);
}

.home__path-card-list > li:nth-child(3) div {
    /* background: var(--accentColor3) */
}

.home__path-card-list > li:nth-child(3) .logo {
    color:var(--accentColor3);
}

/* cuadrado azul */
.home__path-card-list > li:nth-child(3) div::after {
    width: 40px;
    height: 40px;
    background: var(--accentColor3);
    left: -20px;
    top: 20px;
    transform: rotate(-54deg);
}

/* circulo azul */
.home__path-card-list > li:nth-child(3) div::before {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--accentColor3);
    right: -10px;
    bottom: 10px;
    transform: rotate(-45deg);
}

/*
*
* INFO
*
*/

.home__info {
    padding: 8rem 4rem 4rem;
}

.home__info h2 {
    text-align: center;
    padding-bottom: 4rem;
}

.home__info ul {
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    max-width: 960px;
}

.home__info li {
    width: 400px;
    margin-bottom: 4rem;
    position: relative;
}

.home__info-right {
    align-self: flex-end;
    margin-right: 4em;
    text-align: right;
}

.home__info-left {
    margin-left: 4rem;
}

.home__info li::before,
.home__info li::after {
    content: '';
    display: block;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
}

.home__info li:nth-child(1)::before {
    border: 5px solid var(--accentColor3);
    width: 100px;
    height: 100px;
    transform: rotate(30deg);
    top: -10px;
    left: 50%;
}

.home__info li:nth-child(2)::before {
    border: 5px solid var(--accentColor2);
    width: 100px;
    height: 100px;
    transform: rotate(30deg);
    top: -10px;
    left: 10%;
    border-radius: 50%;
}

.home__info li:nth-child(3)::before,
.home__info li:nth-child(3)::after {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid var(--accentColor1);
    right: -30px;
    top: -20px;
    transform: rotate(45deg);
}

.home__info li:nth-child(3)::after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
    opacity: 1;
    right: -18px;
    top: -8px;
    transform: rotate(45deg);
}

/*
*
* FOOTER
*
*/

footer {
    background: var(--mainColor);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

footer h3 {
    color: white;
}