.ArticleHome {
  height: 250px;
  border-radius: 2rem;
  border: 0.3rem solid var(--colorPrincipal);
  transition: box-shadow 0.2s;
  position: relative;
  margin-bottom: 3rem;
}

.ArticleHome:last-child {
  margin-bottom: 0;
}

.ArticleHome__link {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  color: var(--colorPrincipal);
}

.ArticleHome__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.ArticleHome__text {
  font-size: 1.6rem;
  line-height: 1.3;
}

.ArticleHome__tag {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 50px;
  text-align: center;
}

.ArticleHome__tag-html {
  background: #e44d27;
  color: white;
}

.ArticleHome__tag-css {
  background: #036fbe;
  color: white;
}

.ArticleHome__tag-js {
  background: #ffcc00;
  color: var(--colorPrincipal);
}

.ArticleHome__tag-otros {
  background: #747474;
  color: white;
}

@media screen and (min-width: 1300px) {
  .ArticleHome {
    height: 200px;
  }

  .ArticleHome:hover {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  .ArticleHome__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
