.ListOfArticles {
  margin-top: 2rem;
  min-height: calc(100vh - 10.1rem);
  display: flex;
  justify-content: center;
}

.ListOfArticles__container {
  display: block;
}

@media screen and (min-width: 1300px) {
  .ListOfArticles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
