@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

/*
*
* GENERAL
*
*/

:root {
    --mainColor: #222;
    /* --secondaryColor: #eee; */
    --secondaryColor: #e7e8ec;
    /* --secondaryColor: #e9ecf6; */
    --accentColor1: #e94444;
    --accentColor2: #bfb647;
    /* --accentColor2: #f9ed4c; */
    --accentColor3: #373cc6;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans";
    color: var(--mainColor);
}

*::selection {
    background: var(--accentColor3);
    color: white;
}

nav a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

a,
.home__nav-links-active {
    position: relative;
}

a::before,
.home__nav-links-active::before {
    content: "";
    display: block;
    width: 110%;
    height: 50%;
    position: absolute;
    left: -5%;
    top: calc(50% - 25%);
    z-index: -1;
    opacity: 0;
}

a:hover::before,
.home__nav-links-active::before {
    opacity: 0.5;
}

a:nth-child(3n+1)::before,
.home__nav-links-active::before {
    background: var(--accentColor1);
}

a:nth-child(3n+2)::before {
    background: var(--accentColor2);
}

a:nth-child(3n+3)::before {
    background: var(--accentColor3);
}

/*
*
* HOME NAV
*
*/

.home__nav {
    display: flex;
    padding: 20px 4rem;
    justify-content: space-between;
    align-items: center;
}

.home__nav-links {
    display: flex;
    align-items: center;
}

.home__nav-links li{
    display: inline-block;
    margin-left: 4rem;
}

.home__nav-search {
    display: flex;
    flex-grow: 2;
    margin-left: 4rem;
}

.home__nav-search input {
    border: none;
    background: var(--secondaryColor);
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}


/*
*
* FOOTER
*
*/

footer {
    background: var(--mainColor);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

footer h3 {
    color: white;
}